body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #993333;
    color: white;
    padding: 25px 0;
    text-align: center;
}

header h1 {
    margin: 10px 0;
    font-size: 2em;
    padding: 5px 0;
}

header h3 {
    margin: 5px 0;
    font-weight: normal;
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 70%;
    margin: 25px auto;
}

section h2 {
    border-bottom: 1px solid #929292;
    padding-bottom: 10px;
    margin-bottom: 25px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

p {
    text-align: justify;
    font-size: 1.2em;
    margin: 20px;
}

.buttons {
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
    font-weight: bold;
}

.button.paper {
    background-color: #ffcc00;
    color: black;
}

.button.code {
    background-color: #007bff;
    color: white;
}

.button:hover {
    opacity: 0.8;
}

li {
    list-style-type: square;
    padding: 2px;
    font-size: 1.2em;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.column {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

.responsive-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.nsfw-container {
    position: relative;
    width: 100%;
    max-width: 100%;
}

.nsfw-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
    z-index: 1;
}

.nsfw-image.blurred {
    filter: blur(10px);
    transition: filter 0.3s ease;
}

figcaption {
    text-align: center;
    font-style: italic;
    margin-top: 10px;
    color: #555;
}

@media (max-width: 1024px) {
    body {
        margin: 0;
        padding: 0;
        font-size: 0.9em; /* Smaller font size for smaller screens */
    }

    header h1 {
        font-size: 1.2em;
    }

    header h3 {
        font-size: 0.9em;
    }

    nav ul {
        padding: 0;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 5px 0;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button {
        margin-bottom: 10px;
    }

    .row {
        flex-direction: column;
    }

    section {
        width: auto;

        margin: 10px auto;
        max-width: 100%;
    }

    p {
        margin: 10px 0; /* Adjust margin for better spacing */
    }
}



